.obrazekpieska{
  min-height: 350px;
  max-height: 400px;
  width: 400px;
}
img{
  width: 100%;
  height: 100%;
}
.przycisk{
  margin-top: 5px;
  border-radius: 4px;
  width: 97px;
  height: 28px;
}
.srodkowa{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.margino{
  margin-top: 40vh;
}
.tytul{
  text-align: center;
  margin: 0;
  padding: 0;
}



