:host{
  display: block;
  width: 100%;
}
.no-border{
  border-color: transparent !important;
}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
.napis-tryb{
  text-align: center;
  margin-left: 30px;
}

.he{
  height: 48px;
  margin-right: 0px;
}
.kolorIksa{
  color: black;
}

* {
  font-family: sans-serif; /* Change your font family */
}

.content-table {
  text-align: center;
  border-collapse: collapse;
  margin-left: 30px;
  font-size: 0.9em;
  max-width: 270px;
  min-width: 270px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 0px;
}

.content-table-remove {
  border-collapse: collapse;
  border-color: white;
  margin: auto;
  font-size: 0.9em;
  max-width: 50px;
  overflow: hidden;
  padding: 0px;
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 1px solid #dddddd;
  border-radius: 0 0 10px 10px;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.content-table-remove thead tr {
  border-color: white;
}

.content-table-remove th,
.content-table-remove td {
  padding: 12px 15px;
  border-color: white;
  text-align: start;
  border-width: 0;
}

.content-table-remove tbody tr {
  border-bottom: 1px solid white;
}

.content-table-remove tbody tr:first-of-type{
  border-top: 2px solid white;
  }


.rowe {
  margin-left:-5px;
  margin-right:-5px;
}

.column {
  float: left;
  width: 75%;
}

.column-del{
  float: left;
  width: 25%;
}

fa-icon:hover{
  cursor: pointer;
}
.tekst-ostrzegawczy{
  text-align: center;
}
