<ng-container>
  <div *ngIf="(!przegrana); else przegranyTemplate">

    <h3 class="czas" *ngIf="isHard && isuserName">{{this.timeForAnswer}} s left</h3>

    <div [ngClass]="{'tlo-quizu-ez': !isHard, 'tlo-quizu-hard': isHard}" *ngIf="(isuserName); else podajNazweTemplate">
      <div>
        <div class="mt-2 fw-bold fs-5">
          Guess the breed, {{this.login.get('username')?.value}}
        </div>

        <form [formGroup]="formu" (ngSubmit)="submit()" *let="let dobraodp = dobraodp;
        of: {dobraodp: goodAnswerBreed$ | async}">

          <div class="mt-4 form-group" *let="let odp = odp; of: {odp: czteryodp$ | async};">
            <ng-container>
              <div *ngFor="let doge of odp; let i = index;">

                <label for="lable_{{i}}" [ngClass]="{'row': true,'btn-change': (doge === dobraodp && dogSelected)}">
                  <span class="col-1"></span>
                  <div class="col-1 d-flex justify-content-end">
                    <input id="lable_{{i}}" type="radio" value="{{doge}}" name="gender" [readOnly]="dogSelected" formControlName="gender">
                  </div>

                  <div class="col-10 d-flex justify-content-start fw-bold fs-5 duza-litera" [ngClass] = "'odp-' + i">
                    {{doge | translatebreed}}
                  </div>
                </label>

              </div>
            </ng-container>
            <div *ngIf="f.gender.touched && f.gender.invalid" class="alert alert-danger">
            </div>
          </div>
          <button class="mt-4 btn btn-primary" type="submit" [disabled]="!formu.valid || clicked">Submit</button>
        </form>
        <div class="fw-bold mt-5 fs-4">
          wynik: {{liczdobre}}
        </div><br>
        <div>
          <button class="btn btn-primary" routerLink="" (click)="koniecGry()">Zakończ</button><br>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #podajNazweTemplate>
  <div class="podaj-uzytkownika p-2">
    <div class="fw-bold">
      Enter user name:
    </div>
    <form [formGroup]="login" (ngSubmit)="submit2()">

      <input required class="mt-2" id="nazwaurz" type="text" value="" name="username" formControlName="username" [placeholder]="inputPlaceholder"><br>

      <div class="fw-bold mt-2">
        select difficulty:
      </div>

      <div>
        <button [ngClass]="{'m-1 btn szerokosc': true, 'btn-danger shadow-none': isHard, 'btn-success shadow': !isHard }" type="button" (click)="setDificultyLvl(false)">Easy</button>
        <button [ngClass]="{'m-1 btn szerokosc': true, 'btn-danger shadow-none': !isHard, 'btn-success shadow': isHard }" type="button" (click)="setDificultyLvl(true)">Hard</button>
      </div>

      <button class="mt-2 btn btn-primary" type="submit" [disabled]="">Start</button>

    </form>
  </div>
</ng-template>

<ng-template #przegranyTemplate>

  <div class="tlo-quizu-ez">

    <div class="fw-bold fs-1 mt-4">
      You lost!
    </div>

    <div class="row przegrana-przyciski">
        <button class="btn btn-primary btnsize me-3" (click)="newUser()">New Player</button>
        <button class="btn btn-primary btnsize" (click)="tryAgain()">Try Again</button>
    </div>

  </div>

</ng-template>


